{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Welcome at my demo website. The purpose of this wen site is to practice and get familiar with front end html and css code and get more practise with back end python code and flask framework.</p>
            <p>Go visit my YouTube Chanel <a href="https://www.youtube.com">YouTube.come</a> to check out more cool stuff and funny cats.</p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Go to Posts</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}